<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>

<p>
  <a href="/static_pages/home">home</a>
  <a href="/static_pages/help">help</a>
  <a href="/static_pages/about">about</a>
  <a href="/static_pages/contact">contact</a>
</p>
